@font-face {

    font-family: 'OpenDyslexicMono';
    src: local("OpenDyslexicMono"),
        url('./fonts/OpenDyslexicMono/OpenDyslexicMono-Regular.otf') format('otf');  
    font-weight: 600;
    font-style: normal;
  }